<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>

<h1>Title</h1>
<form action = '/search_results' method="POST">
    <h3> Artist: </h3>
    <input type = 'text' name='artist'> </input>
    <h3> Album: </h3>
    <input type = 'text' name='album'> </input>
    <h3> Track: </h3>
    <input type = 'text' name='track'> </input>
    <input type="submit" value="Submit!" />
</form>
</body>
</html>