<style>
body {
    font-family: sans-serif;
    background-image: url('/static/Flat-Color-Gradient-Triangles.png');
    width: 430px;
    height: 763px;
    margin: 0 auto;
}

h1 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 45px;
    font-color: #333333;
    font-weight: bold;
    margin: 0;
    padding: 3px;
    text-align: center;
}

h2 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 3px;
    border: 1.5px
}

h3 {
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin: 0;
    border-top: 1px;
    border-bottom: 1px;
    padding: 3px;
}

.explicit{
    color: rgb(200, 0, 0);
}

.rank{
    font-weight: bold;
}

table {
    border-collapse: collapse;
    padding: 4px;
}

table, th, td {
    padding: 5px;
    border-bottom: 1px solid black;
    color: white;
    text-align: center;
    width: 430px;
}

th {
    background-color: #121f1f;
    border-left: #121f1f;
    border-right:#121f1f;
}

td {
    background-color: #253f3f;
    border-left: #253f3f;
    border-right: #253f3f;
}

input[type='text'] {
    width: 100%;
    padding: 6px 10px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 14px;
    border-radius: 10px;
}

input[type='text']:focus {
    border: 3px solid red;
}

input[type = 'submit'] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    width: 100%;
}

input[value="Up"] {
    background-color: #253f3f;
    background-image: url('/static/up.png');
    width: 10px;
    height: 64px;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    background-size: 100% auto;
}

input[value="Down"] {
    background-color: #253f3f;
    background-image: url('/static/down.png');
    width: 10px;
    height: 64px;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    background-size: 100% auto;
}

input[name="Add"] {
    background-color: #253f3f;
    background-image: url('/static/plus.png');
    width: 40px;
    height: 60px;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    background-size: 100% auto;
}

div.content {
    width: 430px;
    margin: 0 auto;
}
</style>
